body{
	background: darkblue;
}

h1{
	color: white;
}

ul {
	color: white;
}

li{
	border: 2px solid red;
}

#special{
	color: black;
	background: yellow;
}

.completed{
	text-decoration: line-through;
}