/*Broken css table styling*/



/*.poke{
	border: 2;
	border-style: solid;
	border-color: black;
}

#bulb, #char, #sqrt{
	text-align: center;
	border: 2;
	border-color: solid;
	border-color: black;
}
*/