/*Broken css table styling*/



.poke{
	border-collapse: collapse;
	border:2px solid black;
}

#bulb, #char, #sqrt, th,td {
	text-align: center;
	border: 2px solid black;
}

/*If you need to styles differently you can easily have a seperate {} for each section. always test in red*/